* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 10px;
}

window#waybar {
    background-color: rgba(0, 0, 0, .0);
}

#battery,
#temperature,
#clock,
#workspaces,
#custom-wofi,
#tray,
#pulseaudio,
#backlight,
#network,
#custom-power,
#custom-right,
#custom-left,
#custom-updates,
#cpu,
#memory,
#disk {
    background: #242424;
    margin: 4px 0px 4px 0px;
    opacity: 1;
    border: 0px solid #181825;
}

tooltip {
    background: #22222c;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#cpu {
    padding-left: 19px;
}

#memory {
    padding-left: 19px;
}

#cpu.good,
#memory.good {
    color: #81d784;
    /* #38ef7d */
}

#cpu.warning,
#memory.warning {
    color: #f0ad4e;
}

#cpu.critical,
#memory.critical {
    color: #d9534f;
}

#disk {
    padding-left: 15px;
    color: #e1bee7;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #42a5f5;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.empty {
    color: #8c8c8c
}

#workspaces button:first-child {
    padding-left: 0;
    margin-left: 0;
}

#workspaces button:last-child {
    padding-right: 0;
    margin-right: 10px;
}

#workspaces button.active {
    color: #fdd835;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: none;
    border: none;
}

#workspaces button label {
    font-size: 19px;
}

#custom-wofi {
    color: #0A9CF5;
    padding-left: 0px;
    padding-right: 0px;
}

#temperature {
    color: #eebd35;
    padding-left: 0px;
    padding-right: 19px;
}

#temperature.critical {
    color: #ff0000;
    padding-left: 0px;
    padding-right: 19px;
}

#backlight {
    color: #FF8B49;
    padding-left: 0px;
    padding-right: 19px;
}

#pulseaudio {
    color: #EA879D;
    padding-left: 0px;
    padding-right: 19px;
}

#battery {
    color: #458588;
    padding-left: 0px;
    padding-right: 0px;
}

#tray {
    padding-left: 10px;
    padding-right: 4px;
}

#network {
    padding-left: 0px;
    padding-right: 19px;
}

#clock {
    color: #73B580;
    padding-left: 0px;
    padding-right: 19px;
}

#custom-power {
    color: #EF3838;
    padding-left: 0px;
    padding-right: 0px;
}

#custom-updates {
    color: #f3e87a;
    padding-left: 0;
    padding-right: 19px;
}

#custom-right {
    margin-right: 9px;
    padding-right: 3px;
    border-radius: 0px 22px 22px 0px;
}

#custom-left {
    margin-left: 9px;
    padding-left: 3px;
    border-radius: 22px 0px 0px 22px;
}